.services-card-container{
    border: 1px solid #dfdfdf;
}

.services-card-container img{
    width: 100%;
    height: 250px;
}

.services-card-container a{
    margin-bottom: 20px;
    margin-top: 30px;
}

.services-section .row{
    margin-top: 45px;
}

.services-btns{
    position: absolute;
    bottom: 0;
}

.services-card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.services-card-container img {
    width: 100%;
    object-fit: cover;
}

.services-card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

.services-card-body .btn {
    margin-top: auto;
}